
body{
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.pagecontent
{
    min-height: 58.9375rem;
    background-color: rgba(204, 204, 204, 0.5);
}

.card {
    background-color: RGBA(53, 58, 64, 0.8) !important;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin: -0.125rem 0 0;
}
.fas, .far {

    font-size:1.5em;
}

.cardetail{

}